<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Roboto:700|Roboto+Mono" rel="stylesheet">
    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],inlineMath: [['$','$']]
  </head>

  <body>


    <div class="wrapper">
      <!---<header>
        <a href="{{ site.url }}">
        <title-font>Data Science in a Rabbit Hole</title-font></a>
        <br>
		<subtitle-font>A journey of a grad student who wants to find his way out <br>
        into the world of puzzling people</subtitle-font>
      </header>--!>

      <div style="background:#FFF">
        <div class="menu_wrapper">
          <table width="100%">
            <tr>
            </tr>
            <tr>
              <td style="vertical-align:center;background:#FFF"  align="left" width="70%">
                <menu>
                  <a href="{{ site.url }}/index"><img src="/images/icon/home_bw.png" width="18px" style="margin-right:2.0em"></a>
	              <a href="{{ site.url }}/index">About</a><span style="margin-left:3em"></span>
	              <a href="{{ site.url }}/blog">Blog</a><span style="margin-left:3em"></span>
	              <!--<b>Blog</b><span style="margin-left:3em"></span>-->
	              <a href="{{ site.url }}/projects">Data Science Projects</a><span style="margin-left:3em"></span>
                  <a href="{{ site.url }}/contact">Contact</a>
	            </menu>
              </td>
              <td style="vertical-align:center;background:#FFF"  align="right" width="30%">
                <menu>
	              <a href="http://www.linkedin.com/in/siinn-che/">LinkedIn</a><span style="margin-left:2em"></span>
	              <a href="http://github.com/siinn/">Github</a><span style="margin-left:2em"></span>
	              <a href="http://twitter.com/SiinnC">Twitter</a><span style="margin-left:2em"></span>
	            </menu>
              </td>
            </tr>
          </table>
          <hr>
        </div>
      </div>


            <!--<td valign="top" align="right" width="400">
		        <a href="https://github.com/siinn">Github</a><span style="margin-left:1.5em"></span>
		        <a href="https://www.linkedin.com/in/siinn-che/">LinkedIn</a><span style="margin-left:1.5em"></span>
                siinn.che@gmail.com
            </td>--!>

      <div class="full_big_margin">
        {{ content }}
      </div>

      <div style='background:#FAFBFC;'>
        <footer>
            <a href="http://www.linkedin.com/in/siinn-che/">LinkedIn</a><span style="margin-left:1.0em"></span>
            <a href="http://github.com/siinn/">Github</a><span style="margin-left:1.0em"></span>
	        <a href="http://twitter.com/SiinnC">Twitter</a>
        </footer>
      </div>


      <sidebar>
        <!--<a href="http://github.com/siinn/">GitHub</a></br>
        <a href="http://www.linkedin.com/in/siinn-che/">LinkedIn</a> --!>
      </sidebar>
    </div>





    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    {% if site.google_analytics %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
