<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Roboto:700|Roboto+Mono" rel="stylesheet">

  </head>


  <body>
    <div class="wrapper">
      <header ul>

        <a href="{{ site.url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1></a>
		<h6>A journey of a grad student who wants to find his way out into the world of puzzling people<h6>
        <menu>
		  <a href="{{ site.url }}/index">About</a>
		  <a href="{{ site.url }}/blog">Blog</a>
		  <a href="{{ site.url }}/projects">Projects</a>
		</menu>
		<hr/>
      </header ul>

      <full>
        {{ content }}
      </full>

    </div>

    <footer>
      <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    </footer>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
